* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  background-color: rgb(240, 248, 255, 0.8);
  overflow: hidden;
}

.background-lines1 {
  max-width: 700px;
  width: 15%;
  min-height: 180vh;
  background: rgb(244, 245, 249);
  transform: rotate(60deg);
  position: absolute;
  top: 60px;
  border-left: 10px solid rgb(208, 212, 254);
}

.background-lines2 {
  max-width: 700px;
  width: 15%;
  min-height: 180vh;
  background: rgb(244, 245, 249);
  transform: rotate(60deg);
  position: absolute;
  right: 0;
  bottom: 30px;
  border-right: 10px solid rgb(208, 212, 254);
}

.container {
  max-width: 700px;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

div .heading {
  position: fixed;
  left: 2rem;
}

.heading {
  color: blue;
  font-size: 40px;
  font-weight: 400;
  padding: 30px 0px;
}

.heading::first-letter {
  font-weight: 800;
}

.form {
  min-height: 50vh;
  width: 60%;
  position: absolute;
  top: 8rem;
  left: 12rem;
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 15px;
  box-shadow: 2px 2px #b3b3b3;
  text-align: center;
  margin-right: auto;
  margin-left:auto;
  font-size: 12px;
}

.lines {
  margin-bottom: 50px;
}

.line1 {
  width: 7px;
  height: 20px;
  background: blue;
  border-radius: 10px;
  position: absolute;
  top: 16px;
  left: 11rem;
  transform: rotate(150deg);
}

.line2 {
  width: 7px;
  height: 30px;
  background: blue;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 11.7rem;
  transform: rotate(150deg);
}

.line3 {
  width: 7px;
  height: 15px;
  background: blue;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: 12.4rem;
  transform: rotate(150deg);
}

.title {
  margin-bottom: 15px;
}

.title p:first-child {
  margin-bottom: 0;
}

.input {
  margin-bottom: 15px;
}

.input .company {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 215px;
}

.input .industry {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 265px;
}

.input .company-size {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 225px;
}

.input input {
  width: 80%;
  padding: 5px;
}

.input .select {
  width: 80%;
  padding: 7px;
}

select option[default] {
  color: #888;
}

.size button {
  padding: 5px 14px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 2px;
  cursor:pointer;
}

.size button:active,
.size button:hover,
.size button:focus {
  background-color: blue;
  color: #fff;
}

.size {
  margin-bottom: 50px;
}

.btn {
  width: 80%;
  font-size: 15px;
  margin-bottom: 25px;
}

.footer {
  font-size: 14px;
  position: absolute;
  bottom: 2rem;
  left: 18rem;
}
